<br/>
<div class="container">
  <div class="text-center">
    <% if params[:subscription] == '2' %>
        <h1>Pro Subscription</h1>
        <p>Sign up for the pro account for $10/month and get access to the community and contact information!</p>
    <% else %>
        <h1>Basic Subscription</h1>
        <p>Sign up for free and get basic access to the community.</p>
    <% end %>
  </div>
<div class="row">
  <div class="col-md-4">
   <h3>Sign Up</h3>
    <% if params[:subscription] == '2' %>
      <%= render "pro_form" %>
    <% else %>
      <%= render "basic_form" %>
    <% end %>     
        <br/>
    <%= render "devise/shared/links" %>
    </div>  
  </div>
</div>