<div id="<%= dom_id communicate %>">
  <p>
    <strong>Name:</strong>
    <%= communicate.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= communicate.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= communicate.comment %>
  </p>

</div>
