<!-- <h1>Editing communicate</h1>

<%= render "form", communicate: @communicate %>

<br>

<div>
  <%= link_to "Show this communicate", @communicate %> |
  <%= link_to "Back to communicates", communicates_path %>
</div>
 -->