<div class="container">
  <br/>
  <div class="row">
<h3 class="text-center">Contact Us</h3>

<%= render "form", communicate: @communicate %>

<br>
<br/>

<div>
  <%= link_to "Back to Home", root_path %>
</div>
</div>
</div>