<div class='home-callout text-center container-fluid'>
   <h1>Welcome to DevMatch.</h1> 
   <h3>A membership site where entrepreneur can meet developers.</h3>
</div>
<div class="container home-signup-link">
   <div class="row">
      <div class="col-md-6">
         <div class="text-center subscription-container">
            <h2 class="text-center subscription-heading">Basic Membership</h2>
            <h4>Sign up for free and get basic access to the community</h4>
            <br/>
            <%= link_to 'Sign up to Basic Subscription', '#', class: 'btn btn-primary btn-lg' %>
         </div>
      </div>

      <div class="col-md-6">
         <div class="text-center subscription-container">
            <h2 class="text-center subscription-heading">Pro Membership</h2>
            <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
           
              <%= link_to 'Sign up to Pro Subscription', '#', class: 'btn btn-success btn-lg' %>
         </div>
      </div>   
   </div>  
</div>
