/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



/*Background gradient*/

.navbar, .home-callout {
    /*Gradient provided by uiGradients.com*/
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Typography styles*/

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}


/*Navbar styles*/


.navbar-brand {
    color: dimgrey;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.navbar-brand:hover {
     color: grey;
    opacity: 0.65;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: dimgrey;
}

.nav-link {
    color: dimgrey;
}

.nav-link:hover {
    color: grey;
    opacity: 0.65;
}

/*Home page Styles*/

.home-callout {
    color: dimgrey;
    padding-top: 50px;
    padding-bottom: 100px;
}